*{
    margin: auto;
}
nav{
    background-color: #4D4D4D;
}

.cvimagen{
    width: 425px;
    height: 450px;
    border: 5px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
}

.textonegro{
    color: #000000;
    font-size: 180%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.textogrande{

    font-size: 150%;
    color: #000000;
    
}
.textoprincipal{
    margin: 2%;
    justify-content: center;
    font-size: 400%;
}

nav{
width: 100%;
height: 100px;
left: 100px;
top: 100px;
background: #4D4D4D;
}

footer{
width: 100%;
bottom: 0px;
padding: 30px;
box-sizing: border-box;
background: #4D4D4D;
color: #ffffff;
}
input{
    display: none;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    }

   a {
      background: #AFA1EA ;
      margin: 15px;
      padding: 20px;
      text-align: center;
      width: 260px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      text-decoration: none;
      
    }

nav ul {
    display: flex;
    justify-content: space-around;
}
.contenedor{

    background-color: #AFA1EA ;
    margin: 5%;
    display: flex;
    justify-content: center;
}
.contenedor2{

    height: 196px;
    left: 273px;
    top: 546px;
    background-color: white;
    width: 560px;
    margin: 5%;
    display: flex;
    justify-content: space-around; 
    flex-direction: column; 
    border-radius: 30px;


   
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
@media all and (max-width: 700px) {
    input:checked ~ ul{
        display: block;
        margin: 0px;
        padding: 0px;

         }
         input:checked ~ label {
            background: #D6D6D6;
         }
         li{
            margin: 0px;
            padding: 15px;
            text-align: left;
            background: transparent;
            padding: 15px;
            border-radius: 0px;
            width: auto;
            display: flex;
         }
         label {
            box-sizing: border-box;
            display: block;
            border: 1px solid black;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            text-align: center;
            user-select: none;
         }
         ul {
            display: none;
         }
        
}
